header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 20px;
  background-color: #02344f;

  p {
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #fff;
  }
}

.logo-container {
  display: flex;

  .logo {
    margin-right: 16px;
  }
}

main {
  display: grid;
  grid-template-columns: 414px auto;
  flex: 1;
  gap: 0 24px;
  padding: 24px 30px;
  background-color: rgba(171, 223, 236, 0.3);
}

.sidebar {
  padding: 30px 22px;
  background-color: #fff;

  ul li {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #02344f;
    border: 0.5px solid #6c899e;
    box-sizing: border-box;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);

    &:hover,
    &:active {
      color: #abdfec;
      background-color: #02344f;
    }
  }
}

.detail {
  background-color: #fff;
}

.detail_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 28px;
  border-bottom: rgba(196, 196, 196, 0.61);

  p {
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.35px;
    text-indent: 30px;
    color: #02344f;
    text-align: center;
  }
}

.detail_info {
  padding: 28px;

  ul {
    list-style-type: circle;

    li {
      font-size: 16px;
      line-height: 24px;
      color: #333;

      &:not(:last-child) {
        margin-bottom: 14px;
      }
    }
  }
}
