<div class="container">
  <header>
    <div class="logo-container">
      <img src="/assets/icons/vector.svg" alt="logo" class="logo" />
      <img src="/assets/icons/vector1.svg" alt="logo" />
    </div>
    <p>Справочники</p>
    <img src="/assets/icons/close.svg" alt="" (click)="goBack()" />
  </header>
  <main>
    <div class="sidebar">
      <ul class="sidebar_nav-list">
        <li><a href="">Регион</a></li>
        <li><a href="">Департамент</a></li>
        <li><a href="">Подразделение</a></li>
        <li><a href="">Должность</a></li>
        <li><a href="">Звание</a></li>
        <li><a href="">Список сотрудников</a></li>
      </ul>
    </div>
    <div class="detail">
      <div class="detail_header">
        <p>Город/Область Республики Казахстан</p>
        <button class="primary-btn">Редактировать</button>
      </div>
      <div class="detail_info">
        <ul>
          <li *ngFor="let item of list">{{ item.text }}</li>
        </ul>
        <button class="primary-btn" style="margin-top: 28px">Добавить департамент</button>
      </div>
    </div>
  </main>
</div>
