@import './assets/styles/global';
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  font-family: 'Roboto', sans-serif;
}

/* Убираем внутренние отступы */
ul,
ol {
  padding: 0;
  list-style-type: none;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #e5e5e5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
  text-decoration: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

button {
  background-color: transparent;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
}
