.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.primary-btn {
  display: block;
  width: 100%;
  max-width: 200px;
  padding: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  background-color: #02344f;
  border-radius: 4px;
}

.ngx-datatable.material {
  box-shadow: none;
}

.ngx-datatable.material .datatable-header .datatable-header-cell {
  background-color: #02344f;
  font-size: 16px;
  color: #fff;
}
