header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fff;
}

.left-wrapper {
  display: flex;
  margin-left: 64px;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  padding: 12px 24px;

  .logo {
    display: block;
    margin-right: 16px;
  }
}

.profile {
  display: flex;
  align-items: center;
  padding: 8px 14px;
  border-left: 1px solid rgba(196, 196, 196, 0.3);
  border-right: 1px solid rgba(196, 196, 196, 0.3);

  .profile_info {
    margin-left: 16px;
    font-size: 12px;
    line-height: 14px;
    color: #b2b2b8;

    p:first-child {
      font-size: 14px;
      line-height: 16px;
      color: #5a595b;
    }
  }
}

.logout {
  padding: 16px 14px;
  border-left: 1px solid rgba(196, 196, 196, 0.26);
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 12px 24px;
  background: rgba(171, 223, 236, 0.3);
}

.navbar,
.nav {
  display: flex;
}

.nav_item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 120px;
  padding: 8px 12px;
  background-color: #fff;
  border-radius: 4px;

  .nav_item-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  span {
    margin-top: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #02344f;
    text-align: center;
  }

  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &:not(:last-child) {
    margin-right: 16px;
  }

  &:hover {
    background: rgba(255, 255, 255, 0.75);
  }
}

.search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  margin-left: 16px;

  .search_box {
    display: flex;
    margin-left: 20px;

    input {
      width: auto;
      max-width: 722px;
      min-width: 400px;
      padding: 16px;
      font-size: 14px;
      line-height: 16px;
      background: #fff;
      border: 1px solid #d2d3d3;
      box-sizing: border-box;
    }

    button {
      padding: 10px 20px;
      background: #e6e6e6;
      border: 1px solid #d2d3d3;
      box-sizing: border-box;
    }
  }
}

.table-wrap {
  margin-top: 16px;

  table {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-height: 780px;
    background-color: #fff;
    border-collapse: collapse;
    border-spacing: 0;
    overflow-y: auto;

    thead {
      border: none;
      background-color: #02344f;
      border-radius: 5px 5px 0px 0px;

      .table-header {
        padding: 22px 16px;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        color: #fff;
      }
    }
  }

  .table-data {
    padding: 22px 16px;
    font-size: 14px;
    line-height: 16px;
    color: #2f3141;
  }

  .table-data_text {
    font-weight: 600;
  }
}
