<div class="container">
  <header>
    <div class="left-wrapper">
      <div class="logo-wrapper">
        <img src="/assets/icons/logo.svg" alt="logo" class="logo" />
        <img src="/assets/icons/logo1.svg" alt="logo" />
      </div>
      <div class="profile">
        <img src="/assets/images/avatar.png" alt="avatar" />
        <div class="profile_info">
          <p>alimbaev.ernar@anticor.kz</p>
          <p>28.11.2020, 14:20:30</p>
        </div>
      </div>
    </div>
    <div class="logout">
      <img src="/assets/icons/logout.svg" alt="logout" />
    </div>
  </header>
  <main>
    <div class="navbar">
      <div class="nav">
        <div class="nav_item" *ngFor="let item of navList">
          <div class="nav_item-image">
            <img [src]="item.icon" [alt]="item.text" />
          </div>
          <span>{{ item.text }}</span>
          <a [href]="item.link"></a>
        </div>
      </div>
      <div class="search">
        <button type="button" class="primary-btn">Фильтр</button>
        <div class="search_box">
          <input type="search" placeholder="Работники по трудовому договору" />
          <button type="button" class="search_box-btn">
            <img src="/assets/icons/search.svg" alt="" />
          </button>
        </div>
      </div>
    </div>
    <div class="table-wrap" *ngIf="empList$ | async as list">
      <table>
        <thead>
          <tr>
            <th class="table-header">Код</th>
            <th class="table-header">ФИО сотрудника</th>
            <th class="table-header">Департамент</th>
            <th class="table-header">Подразделение</th>
            <th class="table-header">Должность</th>
            <th class="table-header">Категория</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list">
            <td class="table-data">{{ item.id }}</td>
            <td class="table-data">
              <p class="table-data_text">{{ item.firstName }} {{ item.firstName }}</p>
              <p>ИИН: {{ item.iin }}</p>
            </td>
            <td class="table-data">{{ item.department }}</td>
            <td class="table-data">{{ item.division }}</td>
            <td class="table-data">{{ item.position }}</td>
            <td class="table-data">{{ item.positionCategory }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
</div>
